/*
*
* Notations:-
* -----------
*
* 1. use '-' instead of space for folders only
*
* 2. use 'camelCase' notations for most things. (* first letter is small though)
* 
* 3. use '_' underscore characters in prenamed files only (example: rsa_kkey)
*
* 4. Store app release site and databases in 'ULTIMATEFREEHOST.IN'
*
* 5. Store scripts and files in 'HOSTINGER.IN'
*
*/